<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- <input type="file" name="image1"><br> -->
        <input type="file" name="image2"><br>
        <!-- Add more file input fields for image3 to image10 -->
        <button type="submit">Upload</button>
    </form>
</body>

</html>